body{
    background:linear-gradient(270deg, rgba(0,80,150,0.4),rgba(130,60,0,0.5));
}

header{
    padding-top: 3rem;
}

header h1,h2{
    text-align: center;
    color: white;
    text-shadow: 1rem 2rem 3rem rgb(108, 30, 100);
}

main{
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 10rem 0rem 0rem 0rem;
}

main button{
    padding: inherit;
    background: linear-gradient(80deg, rgb(150,40,100),rgb(160,160,20));
    border-style: hidden;
    width: 5rem;
    height: 5rem;
    margin: 0.8rem;
    font-size: 4rem;
}

footer{
    text-align: center;
    color:rgba(255,255,255,0.6);
    padding: 1rem;
    margin:0rem 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0.2rem 0.2rem 0.8rem 0.8rem rgba(00, 00, 00,0.6);
    background: linear-gradient(340deg, rgba(18,20,0,0.6),rgba(0,0,60,0.6));
    position: fixed;
    bottom: 1rem;
    width: 75rem;
}









/* this style copied from jacfar branch */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  color: #fff;
  background:#56baed;
}
.select-box, .play-board, .result-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
.select-box{
  background: rgb(100, 30, 100,0.8);
  padding: 20px 25px 25px;
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  max-height: 12rem;
  height: 100%;
}
.select-box.hide{
  opacity: 0;
  pointer-events: none;
}
.select-box header{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.select-box .title{
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0;
  color: rgb(110, 180, 250,0.6);
  text-align: center;
}
.select-box .options{
  display: flex;
  width: 100%;
}
.options button{
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  height: 3rem;
  padding: 10px 0;
  border: none;
  background:rgb(250,250,250);
  border-radius: 5px;
  color:rgb(100, 30, 10,1);
  /* font-weight: bolder; */
  /* outline: none; */
  /* cursor: pointer; */
  transition: all 0.3s ease-out;
}
.options button:hover,
.btn button:hover{
  transform: rotate(10deg);
  transition:all 0.3s;
  background-color: rgba(250,250,250,0.8);
}
.options button.playerX{
  margin-right: 5px;
}
.options button.playerO{
  margin-left: 5px;
}
.select-box .credit{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.select-box .credit a{
  color: #56baed;
  text-decoration: none;
}
.select-box .credit a:hover{
  text-decoration: underline;
}
.play-board{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.play-board.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.play-board .details{
  padding: 7px;
  border-radius: 5px;
  background:rgb(40, 051, 200,0.1);
}
.play-board .players{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.play-board .players.active .Xturn{
  background-color: rgb(200, 00, 25,0.4);
  color:rgb(255, 0, 0,0.9);
}
.play-board .players.active .Oturn{
  background-color: rgb(0, 150, 25,0.7);
  color: rgb(10, 250, 0,0.9);
}

.play-board .players .Xturn{
  /* background-color: rgb(200, 00, 25,0.4); */
  color:rgb(255, 0, 0,0.9);  
}

.play-board .players .Oturn{
  /* background-color: rgb(0, 150, 25,0.7); */
  color: rgb(10, 250, 0,0.9);
}
.players span{
  position: relative;
  z-index: 2;
  color: #56baed;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: all 0.9 ease;
}
.players.active span:first-child{
  color: #fff;
}
.players.active span:last-child{
  color: #56baed;
}
.players span:first-child{
  color: #fff;
}
.players .slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgb(100, 100, 100,0.2);
  border-radius: 5px;
  transition: all 0.3s step-end;
}
.players.active .slider{
  left: 50%;
}
.players.active span:first-child{
  color: #56baed;
}
.players.active span:nth-child(2){
  color: #fff;
}

.play-area{
  margin-top: 20px;
}
.play-area section{
  display: flex;
  margin-bottom: 1px;
}
.play-area section span{
  display: block;
  height: 7rem;
  width: 7rem;
  margin: 2px;
  color: red;
  font-size: 40px;
  line-height: 7rem;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(80deg,rgba(20,40,100,0.6),rgb(10,100,130));
}
.result-box{
  padding: 25px 20px;
  border-radius: 0.3rem;
  max-width: 600px;
  width: 100%;
  opacity: 0;
  text-align: center;
  background: rgb(10, 100, 250,0.9);
  pointer-events:none;
  transform: translate(-50%, -50%) scale(0.9);
}
.result-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.result-box .won-text{
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.won-text #winner{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: unset;
  color:rgb(250,250,250,0.6);
  transition: 0.9s;
}

.result-box .btn{
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.btn button{
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  background: #56baed;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}